<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <main>

        <div class="title">
            <h2>Login</h2>
            <p>Insira seu Email e senha corretamente</p>
        </div>

        <section>

            <div class="row-login">
                <label for="email">Email</label>
                <input type="email" id="email">
            </div>

            <div class="row-login">
                <label for="senha">Senha</label>
                <input type="password" id="senha">
            </div>

            <div class="row-button">
                <a href="/cadastro" class="CadastrarBtn"><button type="button">Cadastrar</button></a>
                <button id="login">Login</button>
            </div>

        </section>
    </main>
    <script src="/js/logar.js"></script>
</body>
</html>